.rows{
    font-size: 16px;
    height: 40px;
}
.rows .label{
    font-weight: bold;
}
.rows .data{
    font-size: 12px;
}
#startAndStop, #reset{
    border-radius: 3px;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
}